<span>
  <li>ADL Function</li>
  <ul id="red">
    <li><%= link_to "Low Barthel - Admission", new_assessment_path({type: "Admission", res_first: "Barthel", res_last: "Low", ssn: "101111111", test_case:"Barthel", level:"low"})%></li>
  </ul>
  </ul>
    <ul id="green">
    <li><%= link_to "High Barthel - Admission", new_assessment_path({type: "Admission", res_first: "Barthel", res_last: "High", ssn: "202222222", test_case:"Barthel", level:"high"})%></li>
  </ul>
</span>