<span>
  <li>Decrease in Bed Mobility</li>
  <ul id="red">
    <li><%= link_to "Quarterly - Prior", new_assessment_path({type: "Quarterly", res_first: "Bed", res_last: "Mobility", ssn: "404444444", test_case:"BedMobility", level: "prior"})%></li>
  </ul>
  </ul>
    <ul id="red">
    <li><%= link_to "Quarterly - Current", new_assessment_path({type: "Quarterly", res_first: "Bed", res_last: "Mobility", ssn: "404444444", test_case:"BedMobility", level: "current"})%></li>
  </ul>
</span>