<div align="center">
<small>
  <p>Choose red links to create flagging assessments and green links to create non-flagging assessments.</p>
  <p>Assessment results that require multiple MDS files are grouped together.</p>
</small><br>
<h4>Barthel Index</h4>
  <%= render(:partial => "/dash/partials/barthel") %>
<h4>High Risk of Readmission</h4>
  <%= render(:partial => "/dash/partials/high_risk") %>
<div>